# To be changed to released versions once allennlp-semparse unpins allennlp.
git+https://github.com/allenai/allennlp@49e8be84645bc61ec97ee990f70687630d61adb5
git+https://github.com/allenai/allennlp-semparse@b417be8a434066a7e164c80c8ef656cd5e73af41
git+https://github.com/allenai/allennlp-reading-comprehension@e4f8e5df4f9fa35287d44e94fc8b26b9cabed0a5
