# To be changed to released versions once allennlp-semparse unpins allennlp.
git+https://github.com/allenai/allennlp@fdc472577588af93b850fb0a0d114da931a49df8
git+https://github.com/allenai/allennlp-semparse@b417be8a434066a7e164c80c8ef656cd5e73af41
git+https://github.com/allenai/allennlp-reading-comprehension@e4f8e5df4f9fa35287d44e94fc8b26b9cabed0a5
